body {
  background-color: #ffefd5;
}

p {
  font-family: "Crimson Text", serif;
  letter-spacing: .2em;
  color: grey;
}

.space {
  letter-spacing: .25em;
  color: #ff8c00;
}

.shrink {
  color: #ff8c00;
}

.text-upper p {
  font-family: Raleway, sans-serif;
}

.grow {
  font-size: .75em;
  margin-left: .2em;
  text-align: center;
  text-rendering: optimizeLegibility;
  font-family: "Cutive Mono", monospace;
  letter-spacing: 0;
}

.squares {
  overflow: hidden;
  border-right: .05em solid #ff8c00;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .2em;
  animation:
    typing 3.25s steps(40, end),
    blink-caret .8s step-end infinite;
}

@keyframes typing {

  from { width: 0; }

  to { width: 100%; }

}

@keyframes blink-caret {

  from, to { border-color: transparent; }

  50% { border-color: #ff8c00; }

}

.cite {
  color: #ff8c00;
  font-family: Raleway, sans-serif;
}

@media only screen and (min-width: 38em) {

  .space {
    letter-spacing: .5em;
    margin-left: .75em;
  }

  .shrink {
    font-size: .5em;
  }

  .grow {
    font-size: 1em;
  }

}

@media only screen and (min-width: 60em) {

  .space {
    letter-spacing: 1em;
    margin-left: .75em;
  }

  .shrink {
    font-size: .3em;
  }

}

@media only screen and (min-width: 90em) {

  .space {
    letter-spacing: 2em;
    margin-left: .75em;
  }

  .shrink {
    font-size: .2em;
  }

}
